.DS_Store
node_modules/

archive/*
queries/*
!queries/.gitkeep

rep-parser/xmls/*
!rep-parser/xmls/.gitkeep

single-parser/xmls/*
!single-parser/xmls/.gitkeep

multi-parser/xmls/*
!multi-parser/xmls/.gitkeep